*,::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 90%;
  height: 400px;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.wrapper > .img {
  width: 477px;
  height: 100%;
}

.wrapper > .contant {
  width: 500px;
  height: 100%;
}

.contant h2 {
  margin-top: 40px;
  font-size: 35px;
  font-weight: 500px;
  font-size: 2rem;
  line-height: 1.5;
}

.contant p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.8;
}

.contant  a {
  text-decoration: none;
  margin-top: 20px;
}


